# Based on the "trust" template v0.1.2
# https://github.com/japaric/trust/tree/v0.1.2
# See also: https://www.appveyor.com/docs/appveyor-yml/

environment:
  global:
  # This is the Rust channel that build jobs will use by default but can be
  # overridden on a case by case basis down below
    RUST_VERSION: stable

    # Update this to match the name of your project.
    CRATE_NAME: conwayste

  # These are all the build jobs. Adjust as necessary. Comment out what you
  # don't need
  matrix:
    ## MinGW
    #- TARGET: i686-pc-windows-gnu
    #- TARGET: x86_64-pc-windows-gnu

    # MSVC
    #- TARGET: i686-pc-windows-msvc
    - TARGET: x86_64-pc-windows-msvc

    # Testing other channels
    #- TARGET: x86_64-pc-windows-gnu
    #  RUST_VERSION: nightly
    - TARGET: x86_64-pc-windows-msvc
      RUST_VERSION: nightly

install:
  - ps: >-
      If ($env:TARGET -eq 'x86_64-pc-windows-gnu') {
        $env:PATH += ';C:\msys64\mingw64\bin'
      } ElseIf ($env:TARGET -eq 'i686-pc-windows-gnu') {
        $env:PATH += ';C:\msys64\mingw32\bin'
      }
  - curl -sSf -o rustup-init.exe https://win.rustup.rs/
  - rustup-init.exe -y --default-host %TARGET% --default-toolchain %RUST_VERSION%
  - set PATH=%PATH%;C:\Users\appveyor\.cargo\bin
  - rustc -Vv
  - cargo -V

# This is the "test phase", tweak it as you see fit
test_script:
  # we don't run the "test phase" when doing deploys
  # we don't build `dissect-netwayste` for windows
  - if [%APPVEYOR_REPO_TAG%]==[false] (
      if [%TARGET%]==[x86_64-pc-windows-msvc] (
        cargo build --target %TARGET% --release --workspace --exclude dissect-netwayste &&
        cargo test --target %TARGET% --release --workspace --exclude dissect-netwayste
      ) else (
        cargo build --target %TARGET% --release &&
        cargo test --target %TARGET% --release
      )
    )

before_deploy:
  # Update this to build the artifacts that matter to you
  - cargo rustc --target %TARGET% --release --package conwayste --bin client -- -C lto
  - ps: ci\before_deploy.ps1

deploy:
  artifact: /.*\.zip/
  # update `auth_token.secure`
  # - Create a `public_repo` GitHub token. Go to: https://github.com/settings/tokens/new
  # - Encrypt it. Go to https://ci.appveyor.com/tools/encrypt
  # - Paste the output down here
  auth_token:
    secure: 3v1hdmV664BkSzp83+8r/7/i6ByM6gz+ZKhvFrRi4fzaRlXtwLpeSgwcSQX8rUph
  description: ''
  on:
    # Here you can pick which targets will generate binary releases
    # In this example, there are some targets that are tested using the stable
    # and nightly channels. This condition makes sure there is only one release
    # for such targets and that's generated using the stable channel
    RUST_VERSION: stable

    # NOTE: to get Conwayste Windows build .zip files, always do it this way:
    #    $ TAG=v0.3.2-alpha10  #!!!!!! CHANGE THIS !!!!!
    #    $ git tag -a $TAG && git push && git push origin $TAG # branch then tag
    appveyor_repo_tag: true
  provider: GitHub

cache:
  - C:\Users\appveyor\.cargo\registry
  - target

branches:
  only:
    # Release tags
    - /^v\d+\.\d+\.\d+.*$/
    - master

notifications:
  - provider: Email
    to:
      - aaronapvrgh@iforgotmy.name
      - manghirs+appveyor@gmail.com
    subject: '[life] Build {{status}}: {{projectName}} {{buildVersion}}'
    # TODO
    #message: "{{message}}, {{commitId}}, ..."    # optional, default is better than this
    on_build_status_changed: true

# Building is done in the test phase, so we disable Appveyor's build phase.
build: false
